services:
  better-chatbot:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NO_HTTPS=1 
      - APP_UID=1000
      - APP_GID=1000
    entrypoint: ["/bin/sh", "/app/docker/entrypoint.sh"]
    command: ["node", "server.js"]
    volumes:
      - /root/RAGFlowMCP:/app/RAGFlowMCP:rw  # Read-write mount
    env_file:
      - .env
    dns:
      - 8.8.8.8 # Google's public DNS server
      - 8.8.4.4 # Google's public DNS server
    networks:
      - better-chatbot-networks
        #depends_on:
        # - postgres
    restart: unless-stopped
 

networks:
  better-chatbot-networks:
    driver: bridge